<h2 id="title">Low Level <tt>ImgixPhoto</tt> Component</h2>

<ImgixPhoto
  @alt="Yo dawg"
  @url={{actualImgUrl}}
  @params={{hash
    w="200"
    h="300"
    sepia="88"
    fit="crop"
  }}
  @class="SomeClass"
/>
